.dashboard-card{
    display: flex;
    /* flex-direction: row; */
    /* flex-basis: 100%; */
    width: calc(100% - 250px);
    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    
    
    
   
}
.collection-create-form_last-form-item {
    margin-bottom: 0;
  }
  .todo-card{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    height: 83vh;
    
    
    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    
    
  }
  .button-div{
    text-align: right;
  }
  .todo1{
   
    width: 33%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.555);
  }
  .todo2{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.555);
    width: 33%;
  }
  .todo3{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.555);
    width: 33%;
  }

  .todo-div{
    display: flex;
    flex-direction: column;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  .todo-div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }